.content{
    display: flex;
    flex-wrap: wrap;
}
/* 1.slide */
.slide1{
   margin: auto;
   margin-left: 10%;
   padding:5px;
   margin: 10px;
   background-color: blanchedalmond;
}
.slide1 .carousel{
    width: 420px;
}
p{
    margin-left: 5%;
}
h3{
    margin-top: 6% ;
    margin-left: 4%;
}
/* 1.slide */
/* 2.slide */
.slide2{
    margin: auto;
   padding:5px;
   margin: 10px;
   background-color: blanchedalmond;
 }
 .slide2 .carousel{
    width: 450px;
    
}
 /* 2.slide */

 /* 3.slide */
.slide3{
    margin: auto;
   padding:5px;
   margin: 10px;
   background-color: blanchedalmond;
}
.slide3 .carousel{
   width: 500px;
}
 /* 3.slide */

 /* 4.slide */
.slide4{
    margin: auto;
   padding: 5px;
   margin: 10px;
   background-color: blanchedalmond;
}
.slide4 .carousel{
   width: 420px;
}
 /* 4.slide */